/* THREE JS SECTION */
#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

#canvas-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}